* {
    margin: 0;
    color:#361D2E;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 70%;
    margin: 0 auto;
}

#usuario-container {
    display: flex;
    justify-content: space-evenly;
    background-color:#361D2E;
}

#foto {
    width: 10%;
    height: auto;
    margin: auto 0;
}

img {
    width: 100%;
}

#identificacao {
    margin: auto 0;
}

#identificacao h1, #identificacao p {
    color: #F0F7FE
}

#corpo {
    display: flex;
}

#qualificacoes {
    width: 60%;
    background-color: #F0F7FE;
    padding-left: 2rem;
}

#realizacoes {
    margin-bottom: 3rem;
}

#qualificacoes h2 {
    background-color: #468189;
    color: #F0F7FE;
    width: 40%;
    margin: 2rem 0;
    padding: 0.4rem;
}

.curso {
    font-weight: bold;
}

.cargo {
    color: #B0A1BA
}

.titulo {
    margin-top: 1.5rem;
}

.descricao {
    font-size: 0.7rem;
}

#aside {
    background-color: #468189;
    width: 40%;
}

#aside h2{
    text-align: center;
    font-size: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: #F0F7FE;
}

#aside p {
    color: #F0F7FE;
    margin: 1rem 0;
    text-align: center;
    font-size: 0.75rem;
}

.divider {
    width: 70%;
    border: 1px solid #F0F7FE;
    margin: 0 auto;
}

.habilidade-nivel {
    display: flex;
    justify-content: space-evenly;
}

.habilidade {
    font-weight: bold;
}